.showDetails {
  text-align: left;
}

.showDetails div {
  color: var(--accent-font-color);
  font-size: 2.3em;
  font-weight: bold;
  padding: 5% 0 2% 0;
}

.rating {
  margin-left: 2%;
  color: lightyellow;
  font-size: 0.75em;
  font-weight: lighter;
  padding: 15px;
  border: 1px solid rgb(195,213,176);
  border-radius: 100%;
}

.showDetails span {
  margin-right: 2%;
  font-weight: bolder;
}

.showDetails p {
  padding-top: 20px;
  font-size: 1.1em;
}

.showDetails a {
  text-decoration: none;
  color: var(--accent-font-color);
  max-width: 50%;
}
