.showDetails {
  text-align: left;
}

.showDetails div {
  color: var(--accent-font-color);
  font-size: 2.3em;
  font-weight: bold;
  padding: 5% 0 2% 0;
}

#rating {
  margin-left: 6%;
  color: lightyellow;
  font-size: 0.7em;
  font-weight: 10;
  padding: 25px;
  border: 0.6px solid lightyellow;
  border-radius: 100%;
}

.showDetails span {
  margin-right: 2%;
  font-weight: bolder;
}

.showDetails p {
  padding-top: 20px;
  font-size: 1.1em;
}

.showDetails a {
  text-decoration: none;
  color: var(--accent-font-color);
}
