.topTitle {
  color: var(--accent-font-color);
  padding: 15px 0 0 0;
  font-weight: 900;
  height: 50px;
}

.topTitle span {
  float: left;
  font-size: 1.1em;
}

.topTitle button {
  float: right;
  background-color: white;
  font-size: .9em;
  color: var(--accent-font-color);
  width: 125px;
  height: 40px;
  border-radius: 2px;
  font-weight: bolder;
  border-width: 0;
}

.topTitle a {
  text-decoration: none;
  color: var(--accent-font-color);
}
