#searchResults {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    margin: 30px 35px 70px 0;
}

#searchResults li {
    list-style-type: none;
}