:global(html) { 
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

:global(body) {
    background-color: white;
    text-align: center;
}

:global(#root) {
    --background-color: #414141;
    --accent-font-color: #f55263;
}