html { 
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

body {
    background-color: white;
    text-align: center;
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.movieTile {
    padding: 10px;
    margin: 10px;
    border: 2px solid grey;
}

.movieTile p {
    font-size: .6em;
}